@model MVC.ViewModels.TopicVM

@{
    ViewData["Title"] = "Create";
  
}

<h1>Create</h1>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
<h4>Topic</h4>
<hr />
<div>
    <a class="btn btn-outline-primary" asp-action="Index">Back to List  </a>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select" >
                    <option value="">(not selected)</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Tags</label>
                @foreach (var tag in ViewBag.Tags as List<SelectListItem>)
                {
                    <div class="form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               name="TagIds"
                               value="@tag.Value"
                               id="tag_@tag.Value"/>
                        <label class="form-check-label" for="tag_@tag.Value">
                            @tag.Text
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" name="action" value="Create" class="btn btn-primary" />
                <input type="submit" name="action" value="Create Another" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

