<h1>Admin Dashboard</h1>
<ul>
    <li><a asp-action="Create" asp-controller="Post">Create Post</a></li>
    <li><a asp-action="Create" asp-controller="Category">Create Category</a></li>
    <li><a asp-action="Create" asp-controller="Tag">Create Tag</a></li>
    <li><a asp-action="Create" asp-controller="Topic">Create Topic</a></li>
</ul>